<div class = 'flex justify-between'>
    <!-- orders, profit and earnings -->
    <div class = 'flex flex-col w-2/5 gap-y-8'>
        <!-- orders and profit -->
        <div class = 'flex justify-between'>
            <app-orders class = 'w-[46%]'></app-orders>
            <app-profit class = 'w-[46%]'></app-profit>
        </div>
        <!-- earnings -->
        <div>
            <app-earnings></app-earnings>
        </div>
    </div>

    <app-revenue-report class = 'w-[56%]'></app-revenue-report>


</div>
