<nav class="bg-white rounded flex justify-between items-center p-4 shadow-lg">
    <!-- icons -->
    <div class="flex justify-between items-center w-1/6 mr-1">
        <fa-icon [icon] = "faEnvelope" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faCommentAlt" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faCalendar" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faClipboardList" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faStar" class="text-amber-400 hover:bg-amber-200 hover:text-amber-500 p-2 rounded-full"></fa-icon>
    </div>  

    <!-- utilities -->
    <div class = 'flex justify-between items-center w-2/6 ml-1'>
        <p>English</p>
        <fa-icon [icon] = "faMoon" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faSearch" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faShoppingCart" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <fa-icon [icon] = "faBell" class = 'hover:bg-gray-200 p-2 rounded-full'></fa-icon>
        <!-- account -->
        <div class = 'flex justify-between items-center'>
            <div class = 'flex flex-col items-end mr-2'>
                <!-- name -->
                <p>{{userName}}</p>
                <!-- role -->
                <p class = 'text-xs'>{{userRole}}</p>
            </div>
            <!-- avatar -->
            <img src="https://avatars.dicebear.com/api/initials/John+Doe.svg" alt="avatar" class = 'ml-2 rounded-full h-12 w-12'>
        </div>
    </div>
</nav>