<div class = 'flex flex-col w-24 bg-white items-center shadow-lg justify-between text-xl text-gray-500'>
    <!-- logo -->
    <img src="../../../assets/logo.jpeg" alt="logo" class = 'w-12 h-8 mt-5'>
    <fa-icon [icon] = "faHome" class = 'mt-10 mb-16'></fa-icon>

    <div class = 'flex flex-col justify-between items-center gap-4 mb-10'>
        <fa-icon [icon] = "faEnvelope"></fa-icon>
        <fa-icon [icon] = "faCommentAlt"></fa-icon>
        <fa-icon [icon] = "faClipboardList"></fa-icon>
        <fa-icon [icon] = "faCalendar"></fa-icon>
        <fa-icon [icon] = "faTh"></fa-icon>
        <fa-icon [icon] = "faFile"></fa-icon>
        <fa-icon [icon] = "faSave"></fa-icon>
        <fa-icon [icon] = "faShoppingCart"></fa-icon>
        <fa-icon [icon] = "faUser"></fa-icon>
        <fa-icon [icon] = "faFileDownload"></fa-icon>
    </div>
    <div class = 'flex flex-col justify-between items-center gap-4 mb-14'>
        <fa-icon [icon] = "faTicketAlt"></fa-icon>
        <fa-icon [icon] = "faTint"></fa-icon>
        <fa-icon [icon] = "faEye"></fa-icon>
    </div>
</div>
